{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : Administration - accueil' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h1>ADMINISTRATION DES OPTIONS</h1>
            </div>
        </div>
    <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
            </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.id }}</td>
                    <td>{{ option.libelle }}</td>
                    <td>
                        <a href="{{ path('admin.option.edit', {id : option.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.option.delete', {id: option.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.option.new') }}" class="btn btn-green">Créer une nouvelle option</a>
            <a class="btn btn-primary" href="resultsOption.json" download="Trintar.com - Option.json"><i class="fa fa-download"></i> Information en JSON</a>
            <a class="btn btn-primary" href="resultsOption.xml" download="Trintar.com - Option.xml"><i class="fa fa-download"></i> Information en XML</a>
        </div>
    </div>
{% endblock %}