{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : au royaume des mangas' %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="jumbotron">
            <div class="container text-center">
                <p style="font-weight: bold; font-size : 2rem;">Récapitulatif de mon panier</p><br><br><br>
            </div>
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="jumbotron">
                            {% if items | length > 0 %}
                                <table class="table">
                                    <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                {% if item.produit.filename %}
                                                    <img src="../images/produits/{{ item.produit.filename }}" alt="Symfony!" style="width: 20%; height:auto; ">
                                                {% else %}
                                                    <img src="{{ '../images/produits/db.jpg' }}" alt="Symfony!" class="image-display" style="width: 20%; height:auto;" />
                                                {% endif %}
                                            </td>
                                            <td style="font-weight: bold;">{{ item.produit.libelle }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>
                                                <a href="{{ path('panier.unAjout', {'id': item.produit.id}) }}" style="float: left;" class="btn btn-green btn-sm"> +
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('panier.uneSuppresion', {'id': item.produit.id}) }}" style="float: left;" class="btn btn-primary btn-sm"> -
                                                </a>
                                            </td>
                                            <td>{{ item.produit.prixht * item.quantity }} €</td>
                                            <td>
                                                <a href="{{ path('panier.remove', {'id': item.produit.id}) }}" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Surprise, c'est vide !</p>
                            {% endif %}
                        </div>
                        <a href="{{ path('trintar.produit') }}" style="float:left;">< continuer mes achats</a>
                    </div>
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <p style="font-weight: bold; float: left;">Total : </p>
                            <p style="float: right;">{{ total }}</p><br><br><br>
                            <div class="text-center">
                                <td>
                                    <a href="" class="btn btn-green">Valider ma commande</a>
                                </td>
                            </div>
                        </div>
                        <div class="jumbotron">
                            <div class="text-center">
                                <p style="font-weight: bold;">Une question ? Contactez-nous au 06.11.36.50.07</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container text-center">
                <h3>Oups, il n'y a rien par ici. Veuillez vous connectez avant d'accéder au panier : <a href="{{ path('app_login') }}">Connexion </a></h3>
            </div>
        </div>
    {% endif %}
{% endblock %}