{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : au royaume des mangas' %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="jumbotron">
            <div class="container text-center">
                <p style="font-weight: bold; font-size : 2rem;">Paiement</p><br><br><br>
            </div>
            <div class="container">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="jumbotron">
                            {% if items | length > 0 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Nom</th>
                                        <th>Quantite</th>
                                        <th>Prix unitaire</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                {% if item.produit.filename %}
                                                    <img src="../../images/produits/{{ item.produit.filename }}" alt="Symfony!" style="width: 120px; height:auto; float: left;">
                                                {% else %}
                                                    <img src="{{ '../images/produits/db.jpg' }}" alt="Symfony!" class="image-display" style="width: 20%; height:auto;" />
                                                {% endif %}
                                            </td>
                                            <td style="font-weight: bold;">{{ item.produit.libelle }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.produit.prixht * item.quantity }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Surprise, c'est vide !</p>
                            {% endif %}
                        </div>
                        <a href="{{ path('commande', {'id': item.produit.id}) }}" style="float:left;">< revenir à la page des livraisons</a>
                    </div>
                    <div class="col-md-3">
                        <div class="jumbotron">
                            <strong>Nom & Prénom :&nbsp;</strong>{{ app.user.nom }} {{ app.user.prenom }}<br><br>
                            <strong>Email :&nbsp;</strong>{{ app.user.email }}<br><br>
                            <strong style="float: left;">Adresse de livraison :&nbsp;</strong>
                            {% if adresse | length > 0 %}<p>{{ adresse }}</p>{% endif %}
                            <strong>Adresse de facturation :&nbsp;</strong>{{ app.user.adresse }}<br><br>
                            <strong>Date commande :&nbsp;</strong>{{ date }}<br><br>
                            <strong>Date livraison :&nbsp;</strong>{{ dateLivraison }}<br><br>
                            <strong>Prix livraison :&nbsp;</strong>{{ livraison }} €<br><br>
                            <strong>Total :&nbsp;</strong>{{ total }} €<br><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <div class="text-center">
                                <td>
                                    <a href="{{ path('commande', {'id': item.produit.id})}}" class="btn btn-green">Paiement</a>
                                </td>
                            </div>
                        </div>
                        <div class="jumbotron">
                            <div class="text-center">
                                <p style="font-weight: bold;">Une question ? Contactez-nous au 06.11.36.50.07</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container text-center">
                <h3>Oups, il n'y a rien par ici. Veuillez vous connectez avant d'accéder au panier : <a href="{{ path('app_login') }}">Connexion </a></h3>
            </div>
        </div>
    {% endif %}
{% endblock %}