{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : au royaume des mangas' %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="jumbotron">
            <div class="container text-center">
                <p style="font-weight: bold; font-size : 2rem;">Paiement</p><br><br><br>
            </div>
            <div class="container">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="jumbotron">
                            {% if items | length > 0 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Nom</th>
                                        <th>Quantite</th>
                                        <th>Prix unitaire</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                {% if item.produit.filename %}
                                                    <img src="../../images/produits/{{ item.produit.filename }}" alt="Symfony!" style="width: 120px; height:auto; float: left;">
                                                {% else %}
                                                    <img src="{{ '../images/produits/db.jpg' }}" alt="Symfony!" class="image-display" style="width: 20%; height:auto;" />
                                                {% endif %}
                                            </td>
                                            <td style="font-weight: bold;">{{ item.produit.libelle }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.produit.prixht * item.quantity }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Surprise, c'est vide !</p>
                            {% endif %}
                        </div>
                        <a href="{{ path('commande', {'id': item.produit.id}) }}" style="float:left;">< revenir à la page des livraisons</a>
                    </div>
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <strong>Nom & Prénom :&nbsp;</strong>{{ app.user.nom }} {{ app.user.prenom }}<br><br>
                            <strong>Email :&nbsp;</strong>{{ app.user.email }}<br><br>
                            <strong style="float: left;">Adresse de livraison :&nbsp;</strong>
                            {% if adresse | length > 0 %}<p>{{ adresse }}</p>{% endif %}
                            <strong>Adresse de facturation :&nbsp;</strong>{{ app.user.adresse }}<br><br>
                            <strong>Date commande :&nbsp;</strong>{{ date }}<br><br>
                            <strong>Date livraison :&nbsp;</strong>{{ dateLivraison }}<br><br>
                            <strong>Prix livraison :&nbsp;</strong>{{ livraison }} €<br><br>
                            <strong>Total :&nbsp;</strong>{{ total }} €<br><br>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="jumbotron">
                            <form method="post">
                                <fieldset class="credit-card-group">
                                    <div class="text-center">
                                        <legend>Informations bancaires</legend>
                                    </div>
                                    <br>
                                    <label for="card-number">Numéro de la carte</label>
                                    <br>
                                    <input id="txtCardNumber" class="card-number" name="card-number" placeholder="0123 4567 8901 2345" minlength="0000 0000 0000 0000" required>
                                    <br>
                                    <br>
                                    <label for="card-number">Titulaire de la carte</label><br>
                                    <input placeholder="Nom Prenom"  type="text" class="card-titulaire" name="card-cvv" id="TitulaireCardNumber" required>
                                    <br>
                                    <br>
                                    <label for="card-number">Date d'expiration</label><br>
                                    <select name="month" required>
                                        <script language="JavaScript" type="text/javascript">
                                            var month = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec");
                                            for (var m=0; m<month.length; m++)
                                            {
                                                document.write("<option>" +month[m]+ "</option>");
                                            }
                                        </script>
                                    </select>
                                    <select name="year" required>
                                        <script language="JavaScript" type="text/javascript">
                                            var year = new Date();
                                            var year2 = year.getFullYear();
                                            for (y=0; y<6; y++)
                                            {
                                                document.write("<option>" +(year2+y)+ "</option>");
                                                document.write("<br />");
                                            }

                                        </script>
                                    </select>
                                    <br>
                                    <br>
                                    <label for="card-number">Cryptogramme</label><br>
                                    <input placeholder="CVC" pattern="[0-9]*" type="text" class="card-cvv" name="card-cvv" id="CVVCardNumber" required>
                                    <br>
                                    <br>
                                </fieldset>
                                <br>
                                <div class="text-center">
                                    <input type="submit" id="submit-button" formaction="{{ path('apresPaiement', {'id': item.produit.id}) }}" class="btn btn-orange" value="Payer {{ total }} €">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container text-center">
                <h3>Oups, il n'y a rien par ici. Veuillez vous connectez avant d'accéder au panier : <a href="{{ path('app_login') }}">Connexion </a></h3>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        function doFancyStuff() {
            $("#submit-button").click();
        }

        var CVVCardNumber = document.querySelector("#CVVCardNumber");
        CVVCardNumber.addEventListener("input", onChangeCVVCardNumber);

        function onChangeCVVCardNumber(e) {
            var cardNumber = CVVCardNumber.value;
            var formattedCardNumber = cardNumber.replace(/[^\d]/g, "");
            formattedCardNumber = formattedCardNumber.substring(0, 3);
            var cardNumberSections = formattedCardNumber.match(/\d{3,3}/g);
            if (cardNumberSections !== null) {
                formattedCardNumber = cardNumberSections.join(' ');
            }
            console.log("'"+ cardNumber + "' to '" + formattedCardNumber + "'");
            if (cardNumber !== formattedCardNumber) {
                CVVCardNumber.value = formattedCardNumber;
            }
        }

        var txtCardNumber = document.querySelector("#txtCardNumber");
        txtCardNumber.addEventListener("input", onChangeTxtCardNumber);
        function onChangeTxtCardNumber(e) {
            var cardNumber = txtCardNumber.value;
            var formattedCardNumber = cardNumber.replace(/[^\d]/g, "");
            formattedCardNumber = formattedCardNumber.substring(0, 16);
            var cardNumberSections = formattedCardNumber.match(/\d{1,4}/g);
            if (cardNumberSections !== null) {
                formattedCardNumber = cardNumberSections.join(' ');
            }
            console.log("'"+ cardNumber + "' to '" + formattedCardNumber + "'");
            if (cardNumber !== formattedCardNumber) {
                txtCardNumber.value = formattedCardNumber;
            }
        }

        function ValidateExpDate()
        {
            var ccExpYear = 20 + $F('<%= txtCCExpirationYear.ClientID%>');
            var ccExpMonth = $F('<%= txtCCExpirationMonth.ClientID%>');
            var expDate=new Date();
            expDate.setFullYear(ccExpYear, ccExpMonth, 1);
            var today = new Date();
            if (expDate<today)
            {
                return false;
            }
            else
            {
                return true;
            }
        }
    </script>
{% endblock %}