<div class="content">
    <div class="row">
        <div class="bg-light m-2 p-3" style="border-radius:10px;">
            <div class="text-center">
                {% if produit.filename %}
                    <img src="images/produits/{{ produit.filename }}" alt="Symfony!" style="width: 100%; height:auto;">
                {% else %}
                    <img src="{{ 'images/produits/db.jpg' }}" alt="Symfony!" class="image-display" style="width: 100%; height:auto;" />
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        Licence : <a href="{{ path('produit.show', {id: produit.id, slug: produit.slug}) }}">{{ produit.libelle }}</a>
                        <br>
                        <p>Manga crée par le/les auteur(s) {{ produit.auteur }}</p>
                        <p style="font-weight: bold; font-size : 2rem;">Prix : {{ produit.prixht }} euros</p>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br>