{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com - Produits' %}

{% block body %}
    <div class="jumbotron" style="background-color: darkgrey;">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col-md-2">
                    {{ form_row(form.libelle) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.categories) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.auteurs) }}
                </div>
                <br>
                &nbsp;<div class="col-md-4">
                    {{ form_row(form.licences) }}
                </div>
                <div class="col">
                    <button class="btn btn-green">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
        <div class="container">
            <div class="row">
                {% for produit in produits %}
                    <div class="col-md-4">
                        {% include 'trintar/_produit.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row">
            <div class="pagination" style="margin: auto">
                {{ knp_pagination_render(produits) }}
            </div>
                <br>
        </div>
        </div>
{% endblock %}