{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com - Profil' %}


{% block body %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="jumbotron">
                        {% if app.user.filename %}
                            <img src="../images/utilisateurs/{{ app.user.filename }}" alt="Symfony!" style="width: 80%; height:auto;">
                        {% else %}
                            <img src="{{ '../images/utilisateurs/pp.jpg' }}" alt="Symfony!" class="image-display" style="width: 50%;" />
                        {% endif %}
                        <br>
                        <br>
                        <div class="row">
                            <strong>Nom & prénom :&nbsp;</strong><br> {{ app.user.nom }} {{ app.user.prenom }}
                        </div>
                        <br>
                        <div class="row">
                            <strong>Description :&nbsp;</strong><br> {{ app.user.description }}
                        </div>
                        <br>
                        <div class="row">
                            <strong>Date de naissance :&nbsp;</strong><br> {{ app.user.dateNaissance|date("m/d/Y") }}
                        </div>
                        <br>
                        <div class="row">
                            <strong>Ville de naissance :&nbsp;</strong><br> {{ app.user.villeDeNaissance }}
                        </div>
                        <br>
                        <div class="row">
                            <strong>Courriel :&nbsp;</strong><br> {{ app.user.email }}
                        </div>
                        <br>
                        <div class="row">
                            <strong>Numéro de téléphone :&nbsp;</strong><br> {{ app.user.telephone }}
                        </div>
                        <br>
                        <div class="row">
                            <strong>Adresse postale :&nbsp;</strong><br> {{ app.user.adresse }}
                        </div>
                    </div>
                    <br>
                    <a href="{{ path('trintar.produit') }}" style="float:left;">< continuer mes achats</a>
                </div>
                <div class="col-md-5">
                    <div class="jumbotron">
                        <div class="text-center">
                            <p style="font-weight: bold;">Souhaitez-vous modifier votre compte client ?</p>
                            <br>
                        </div>
                        <form method="post" action="{{ path('user.deleteProfil', {id: app.user.id}) }}" style="float: left;" onsubmit="return confirm('Êtes-vous certain(e) de supprimer votre compte ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                            <button class="btn btn-outline-danger my-2 my-sm-0">Supprimer votre compte</button>
                        </form>
                        <a href="{{ path('user.editProfil', {id : app.user.id}) }}" class="btn btn-outline-primary my-2 my-sm-0" style="float: right;">Modifier mes informations</a>
                    </div>
                    <div class="jumbotron">
                        <div class="text-center">
                            <p style="font-weight: bold;">Une question ? Contactez-nous au 06.11.36.50.07</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}


