{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com - Produit' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if produit.filename %}
                        <img src="../images/produits/{{ produit.filename }}" alt="Symfony!" style="width: 100%; height:auto;">
                    {% else %}
                        <img src="{{ '../images/produits/db.jpg' }}" alt="Symfony!" class="image-display" style="width: 100%; height:auto;" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <strong>Description :</strong><br> {{ produit.description | nl2br }}
            </div>
            <br>
            <div class="row">
                <strong>Synopsis :</strong><br> {{ produit.synopsis | nl2br }}
            </div>
            <br>
            {% for auteur in produit.idAuteur %}
                <div class="row">
                    <strong>Auteur(s) :&nbsp;</strong><br> {{ auteur.libelle | nl2br }}
                </div>
            {% endfor %}
            <br>
            <div class="row">
                <strong>Stock disponible :&nbsp;</strong><br> {{ produit.stock | nl2br }}
            </div>
            <br>
            <div class="row">
                <strong>Prix du tome :&nbsp;</strong><br> {{ produit.prixht | nl2br }} euros
            </div>
            <br>
            <div class="row">
                <strong>Tome(s) en stock :&nbsp;</strong><br>{% for tomes in produit.idTomes %} {{ tomes.libelle | nl2br }},{% endfor %}
            </div>
            <br>
            <div class="row">
                <strong>Magasin(s) disposant cet/ces article(s) :&nbsp;</strong><br>
                {% for magasin in produit.idMagasin %}
                    <a href="{{ path('magasin.show', {id: magasin.id, slug: magasin.slug}) }}">{{ magasin.nom | nl2br }}</a>,
                {% endfor %}
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <a href="{{ path ('trintar.produit')}}" class="btn btn-primary">Revenir à la page produit</a>
                </div>
                <div class="col-md-3">
                    <a href="" class="btn btn-secondary">Commander ce produit</a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
