{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : Administration - accueil' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h1>ADMINISTRATION DES PRODUITS</h1>
            </div>
        </div>
    <br>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Prixht</th>
            <th>Stock</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.prixht }}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    <a href="{{ path('admin.produit.edit', {id : produit.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.produit.delete', {id: produit.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('admin.produit.new') }}" class="btn btn-green">Créer un nouveau produit</a>
        <a href="{{ path('upload.produitJSON') }}" class="btn btn-red">Import JSON</a>
        <a href="{{ path('upload.produitXML') }}" class="btn btn-red">Import XML</a>
        <a class="btn btn-primary" href="resultsProduit.json" download="Trintar.com - Produit.json"><i class="fa fa-download"></i> Export JSON</a>
        <a class="btn btn-primary" href="resultsProduit.xml" download="Trintar.com - Produit.xml"><i class="fa fa-download"></i> Export XML</a>
    </div>
    </div>
{% endblock %}