{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : Administration - accueil' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h1>ADMINISTRATION DES AUTEURS</h1>
            </div>
        </div>
    <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
            </tr>
            </thead>
            <tbody>
            {% for auteur in auteurs %}
                <tr>
                    <td>{{ auteur.id }}</td>
                    <td>{{ auteur.libelle }}</td>
                    <td>
                        <a href="{{ path('admin.auteur.edit', {id : auteur.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.auteur.delete', {id: auteur.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.auteur.new') }}" class="btn btn-green">Créer un nouvel auteur</a>
            <a href="{{ path('upload.auteurJSON') }}" class="btn btn-red">Import JSON</a>
            <a href="{{ path('upload.auteurXML') }}" class="btn btn-red">Import XML</a>
            <a class="btn btn-primary" href="resultsAuteur.json" download="Trintar.com - Auteur.json"><i class="fa fa-download"></i> Export JSON</a>
            <a class="btn btn-primary" href="resultsAuteur.xml" download="Trintar.com - Auteur.xml"><i class="fa fa-download"></i> Export XML</a>
        </div>
    </div>
{% endblock %}