{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : au royaume des mangas' %}

{% block body %}
    <img src="{{ 'images/site/banner.jpg' }}" alt="Symfony!" class="image-display" style="width: 100%; height:auto;" />
    <br>
    <br>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-4">
                <div class="jumbotron">
                    <div class="text-center">
                        <img src="{{ 'images/site/shield.png' }}" alt="Symfony!" class="image-display" style="width: 128px; height:auto;" />
                        <br>
                        <br>
                        <p style="font-weight: bold;">Achats & ventes 100% Sécurisés</p>
                        <p>Car nous agissons en tant que tiers de confiance lors de vos transactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <div class="text-center">
                        <img src="{{ 'images/site/edit.png' }}" alt="Symfony!" class="image-display" style="width: 128px; height:auto;" />
                        <br>
                        <br>
                        <p style="font-weight: bold;">Des milliers d'annonces !</p>
                        <p>Et elles vous attendent ! Alors découvrez les maintenant !</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <div class="text-center">
                        <img src="{{ 'images/site/smile.png' }}" alt="Symfony!" class="image-display" style="width: 128px; height:auto;" />
                        <br>
                        <br>
                        <p style="font-weight: bold;">Des milliers de membres heureux !</p>
                        <p>Depuis 10 ans nous avons sécurisé des milliers de transactions.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
        <div class="jumbotron">
    <div class="section col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div id="section-local">
            <div class="section-headline">
                <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <h2 style="font-weight: bold;">
                    Les dernières annonces
                </h2>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('trintar.produit') }}" style="float:right;">Voir plus de produits</a>
                </div>
                <br>
                    <br>
            </div>
            </div>
            <div class="row flex">
                {% for produit in produits %}
                    <div class="col-md-2">
                        {% include 'trintar/_produit.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        </div>
    </div>
    </div>



{% endblock %}