<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block header %}

    <!--Navbar -->
<nav class="navbar justify-content-center black lighten-4 py-4">
    <a class="navbar-brand" href="#" style="color: white;"><i class="fas fa-headset"></i> SERVICE CLIENT : 06 11 36 50 07</a>
</nav>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark red darken-4">
    <a class="navbar-brand" href="{{ path ('front.index')}}"><i class="fas fa-globe"></i> TRINTAR.COM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path ('front.index')}}"><i class="fas fa-home"></i> ACCUEIL
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('trintar.produit')}}">PRODUITS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('trintar.magasin')}}">MAGASINS</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('panier')}}"><i class="fas fa-cart-arrow-down"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> COMPTE
                    </a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="dropdown-item" href="{{ path ('user.profil')}}">PROFIL</a>
                        <a class="dropdown-item" href="{{ path ('app_logout')}}">SE DECONNECTER</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ path ('app_register')}}">S'INSCRIRE</a>
                        <a class="dropdown-item" href="{{ path ('app_login')}}">SE CONNECTER</a>
                        {% endif %}
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-lock"></i> ADMINISTRATION
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                                <a class="dropdown-item" href="{{ path ('admin.produit.index')}}">Gestion - Produit</a>
                                <a class="dropdown-item" href="{{ path ('admin.auteur.index')}}">Gestion - Auteur</a>
                                <a class="dropdown-item" href="{{ path ('admin.licence.index')}}">Gestion - Licence</a>
                                <a class="dropdown-item" href="{{ path ('admin.categorie.index')}}">Gestion - Categorie</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path ('admin.magasin.index')}}">Gestion - Magasin</a>
                                <a class="dropdown-item" href="{{ path ('admin.option.index')}}">Gestion - Options</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path ('admin.utilisateur.index')}}">Gestion - Utilisateur</a>
                            <a class="dropdown-item" href="{{ path ('admin.sexe.index')}}">Gestion - Sexe</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div class="red darken-4">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Restez connecté en nous rejoingnant sur les réseaux sociaux !</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!-- Twitter -->
                        <a class="tw-ic" href="https://twitter.com/xGeleetz">
                            <i class="fab fa-twittconfig er white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic" href="https://www.linkedin.com/in/florian-bruckmann-4ba76b1a2/">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="https://www.instagram.com/xgeleetz/">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">TRINTAR.com</h6>
                    <hr class="red darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>TRINTAR.com est un site web fictif réalisé pour le projet de PPE de la seconde année du BTS SIO. Son but est de simuler un site web marchand sur le thème de son choix.</p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Produits</h6>
                    <hr class="red darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="{{ path ('trintar.produit')}}">S'informer sur nos produits</a>
                    </p>
                    <p>
                        <a href="{{ path ('trintar.magasin')}}">S'informer sur nos magasins</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
                    <hr class="red darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="{{ path ('app_register')}}">Nous rejoindre</a>
                    </p>
                    <p>
                        <a href="{{ path ('front.index')}}">En apprendre plus sur TRINTAR.com</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="red darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i>12 rue de la méditerranée, 66450</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>florian.bruckmann66@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +33 6 11 36 50 07</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/">TRINTAR.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $('select').select2();
    </script>
    <script>
        let inputAddress = document.querySelector('#magasin_adresse')
        if (inputAddress !== null) {
            let placesAutocomplete = places({
                appId: 'plB1R5LFAXKE',
                apiKey: '91053d35e44353cf6d622e910324ffb1',
                container: inputAddress
            })
            placesAutocomplete.on('change', e => {
                document.querySelector('#magasin_codePostal').value = e.suggestion.postcode
                document.querySelector('#magasin_lat').value = e.suggestion.latlng.lat
                document.querySelector('#magasin_lng').value = e.suggestion.latlng.lng
            })
        }

        let inputAddress2 = document.querySelector('#utilisateur_adresse')
        if (inputAddress2 !== null) {
            let placesAutocomplete = places({
                appId: 'plB1R5LFAXKE',
                apiKey: '91053d35e44353cf6d622e910324ffb1',
                container: inputAddress2
            })
            placesAutocomplete.on('change', e => {
                document.querySelector('#utilisateur_codePostal').value = e.suggestion.postcode
                document.querySelector('#utilisateur_lat').value = e.suggestion.latlng.lat
                document.querySelector('#utilisateur_lng').value = e.suggestion.latlng.lng
            })
        }

        let searchAddress = document.querySelector('#search_address')
        if (searchAddress !== null) {
            let place = places({
                container: searchAddress
            })
            place.on('change', e => {
                document.querySelector('#lat').value = e.suggestion.latlng.lat
                document.querySelector('#lng').value = e.suggestion.latlng.lng
            })
        }
    </script>
{% endblock %}
</body>
</html>
