{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="text-center">
            <div class="container mt-4">
                <h1>ADMINISTRATION RÔLE</h1>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Courriel</th>
                <th>Telephone</th>
                <th>DateNaissance</th>
                <th>MotDePasse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.courriel }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.motDePasse }}</td>
                <td>
                    <a href="{{ path('admin.utilisateur.edit', {id : utilisateur.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.utilisateur.delete', {id: utilisateur.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="text-right">
            <a href="{{ path('admin.utilisateur.new') }}" class="btn btn-primary">Créer une nouvel utilisateur</a>
        </div>
    </div>
{% endblock %}